variable.sh
*.DS_Store

*/.log/

**key*

## Terraform
**/.terraform/*
*.tfvars
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*tfplan*
.terraform.lock.hcl